<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <div class="container">

<div style="font-size: 24px">
  <p><strong>Optometry Case Report</strong></p>
  <p><span style="font-weight: 400">&nbsp;</span></p>
  <p>
    <span style="font-weight: 400"
      >Health record number:&nbsp; 69420&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp;Date of Eye examination:&nbsp; 2023-10-14</span
    >
  </p>
  <p>
    <span style="font-weight: 400"
      >Name of the patient:&nbsp; Afraz M&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp;Age:&nbsp; 18&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; Gender: F&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp;&nbsp;</span
    >
  </p>
  <hr />
  <p><strong>History:</strong></p>
  <p>complaints:&nbsp; </p>
  <p>
    <span style="font-weight: 400"
      >Previous History (Both health &amp; eye):&nbsp; </span
    >
  </p>
  <p>
    <span style="font-weight: 400">Family History:&nbsp; </span>
  </p>
  <p>
    <span style="font-weight: 400"
      >Previous Investigation report:&nbsp; </span
    >
  </p>
  <p><span style="font-weight: 400">Medicines taken:&nbsp; </span></p>
  <p><span style="font-weight: 400">Allergy:&nbsp; </span></p>
  <p>Previous Glass Prescription ()</p>
  <p>
    <span style="font-weight: 400"
      >Right Eye: 6 DS/ 5 x </span
    >
  </p>
  <p>
    <span style="font-weight: 400"
      >Left&nbsp; &nbsp;Eye: 4 DS/ 4 x </span
    >
  </p>
  <p><span style="font-weight: 400">Add:</span></p>
  <p><span style="font-weight: 400">Comments: </span></p>
  <hr />
  <p><strong>Clinical Refraction</strong></p>
  <p><span style="font-weight: 400">Presenting Visual Acuity:&nbsp;</span></p>
  <p><span style="font-weight: 400">Right Eye:</span></p>
  <p><span style="font-weight: 400">Left&nbsp; &nbsp;Eye:</span></p>
  <p><span style="font-weight: 400">Best Corrected Visual Acuity:</span></p>
  <p><span style="font-weight: 400">Right Eye</span></p>
  <p><span style="font-weight: 400">Left Eye</span></p>
  <p>
    <span style="font-weight: 400"
      ><strong>Binocular Vision Status:&nbsp;</strong></span
    >
  </p>
  <p>
    <span style="font-weight: 400"
      >OM -&nbsp; OD  OS  OU &nbsp;</span
    >
  </p>
  <p>
    <span style="font-weight: 400"
      >CT(with Cx):&nbsp; Distance: &nbsp; Near: &nbsp;</span
    >
  </p>
  <p>
    <span style="font-weight: 400"
      >NPC: Subjective:  Objective: </span
    >
  </p>
  <p>
    <span style="font-weight: 400"
      >NPA: OD  OS  OU </span
    >
  </p>
  <p>
    <span style="font-weight: 400"
      ><strong>Pupil</strong>:&nbsp; &nbsp; OD&nbsp; &nbsp; &nbsp;OS
      &nbsp; OU </span
    >
  </p>
  <p><span style="font-weight: 400">Comments:&nbsp; </span></p>
  <p><strong>ANTERIOR SEGMENT FINDINGS:</strong></p>
  <table
    style="border-collapse: collapse; width: 99.8095%; height: 257px"
    border="1"
  >
    <tbody>
      <tr>
        <td style="width: 33.3333%">Right Eye</td>
        <td style="width: 33.3333%">&nbsp;</td>
        <td style="width: 33.3333%">Left Eye</td>
      </tr>
      <tr>
        <td style="width: 33.3333%"></td>
        <td style="width: 33.3333%">Lids</td>
        <td style="width: 33.3333%"></td>
      </tr>
      <tr>
        <td style="width: 33.3333%"></td>
        <td style="width: 33.3333%">Conjunctiva</td>
        <td style="width: 33.3333%"></td>
      </tr>
      <tr>
        <td style="width: 33.3333%"></td>
        <td style="width: 33.3333%">Cornea</td>
        <td style="width: 33.3333%"></td>
      </tr>
      <tr>
        <td style="width: 33.3333%"></td>
        <td style="width: 33.3333%">AC</td>
        <td style="width: 33.3333%"></td>
      </tr>
      <tr>
        <td style="width: 33.3333%"></td>
        <td style="width: 33.3333%">Iris</td>
        <td style="width: 33.3333%"></td>
      </tr>
      <tr>
        <td style="width: 33.3333%"></td>
        <td style="width: 33.3333%">Lens</td>
        <td style="width: 33.3333%"></td>
      </tr>
      <tr>
        <td style="width: 33.3333%"></td>
        <td style="width: 33.3333%">Tear Film</td>
        <td style="width: 33.3333%"></td>
      </tr>
    </tbody>
  </table>
  <p>Comments: </p>
  <p>
    <strong>INTROCULAR PRESSURE:</strong>&nbsp;16:43:49 &nbsp; &nbsp;OD
     OS &nbsp;
  </p>
  <p><strong>POSTERIOR SEGMENT FINDINGS:</strong></p>
  <div style="display: flex; gap: 30px">
    &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
    <img src=http:\\localhost:8000\api\static\images\d0b00091-55c7-470a-bd24-a9d01818049d.jpg width="190" height="150"/>
    &nbsp; &nbsp;&nbsp; &nbsp;
    <img src=http:\\localhost:8000\api\static\images\20763b79-95da-4692-8158-7f84f1ea27e5.jpg width="190" height="150" />
  </div>
  <!-- <p>&nbsp;</p> -->
  <!-- <p>Comments:</p> -->
  <div
    style="
      display: grid;
      grid-template-areas:
        'left' 'right'
        'left' 'right'
        'left' 'right';
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    "
  >
    <div style="grid-area: left">Right Eye:&nbsp; </div>
    <div style="grid-area: right">Left Eye:&nbsp; </div>
  </div>
  <p>&nbsp;</p>
  <p>Diagnosis&nbsp; &nbsp; &nbsp; :&nbsp; </p>
  <p>Management : </p>
  <p>Glass Prescription:&nbsp;</p>
  <p>&nbsp;</p>
  <p>R. Krishna Kumar</p>
  <p>
    Signature/Name of the Optometrist&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; Date: 2023-10-14
  </p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</div>
</div>
  </body>
</html>