<div style="font-size: 24px">
  <p>
    <span style="font-weight: 400"
      >&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;GLASS
      PRESCRIPTION</span
    >
  </p>
  <p>&nbsp;</p>
  <p>
    <span style="font-weight: 400"
      >Health record Number:&nbsp; &nbsp; {{hlm}}&nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Name: {{name}}&nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Age:
      {{age}}&nbsp;
    </span>
  </p>
  <p><span style="font-weight: 400">Sex: {{sex}}</span></p>
  <p>
    <span style="font-weight: 400"
      >Clinic Name: &nbsp; &nbsp;Free Sai Clinic, Nanmangalam</span
    >
  </p>
  <p>&nbsp;</p>
  <table
    style="
      height: 344px;
      width: 806px;
      border-style: solid;
      border-color: black;
      margin-left: auto;
      margin-right: auto;
    "
    border="2px"
    width="644"
    cellpadding="10px"
  >
    <caption>
      &nbsp;
    </caption>
    <tbody>
      <tr style="height: 61px">
        <td style="width: 80.957px; height: 61px">
          <p><span style="font-weight: 400">EYE</span></p>
        </td>
        <td style="width: 104.199px; height: 61px">
          <p><span style="font-weight: 400">SPHERE</span></p>
        </td>
        <td style="width: 129.941px; height: 61px">
          <p><span style="font-weight: 400">CYLINDER</span></p>
        </td>
        <td style="width: 69.7266px; height: 61px">
          <p><span style="font-weight: 400">AXIS</span></p>
        </td>
        <td style="width: 64.1211px; height: 61px">
          <p><span style="font-weight: 400">ADD</span></p>
        </td>
        <td style="width: 87.168px; height: 61px">
          <p><span style="font-weight: 400">PRISM</span></p>
        </td>
        <td style="width: 99.8828px; height: 61px">
          <p><span style="font-weight: 400">VISUAL ACUITY</span></p>
        </td>
      </tr>
      <tr style="height: 27px">
        <td style="width: 80.957px; height: 54px" rowspan="2">
          <p><span style="font-weight: 400">Right&nbsp;</span></p>
        </td>
        <td style="width: 104.199px; height: 54px" rowspan="2">{{ods}}</td>
        <td style="width: 129.941px; height: 54px" rowspan="2">{{odc}}</td>
        <td style="width: 69.7266px; height: 54px" rowspan="2">{{oda}}</td>
        <td style="width: 64.1211px; height: 54px" rowspan="2">{{odad}}</td>
        <td style="width: 87.168px; height: 54px" rowspan="2">{{odp}}</td>
        <td style="width: 99.8828px; height: 27px">{{odv}}</td>
      </tr>
      <tr style="height: 27px">
        <td style="width: 99.8828px; height: 27px">{{odva}}</td>
      </tr>
      <tr style="height: 27px">
        <td style="width: 80.957px; height: 54px" rowspan="2">
          <p><span style="font-weight: 400">Left&nbsp;</span></p>
        </td>
        <td style="width: 104.199px; height: 54px" rowspan="2">{{oss}}</td>
        <td style="width: 129.941px; height: 54px" rowspan="2">{{osc}}</td>
        <td style="width: 69.7266px; height: 54px" rowspan="2">{{osa}}</td>
        <td style="width: 64.1211px; height: 54px" rowspan="2">{{osad}}</td>
        <td style="width: 87.168px; height: 54px" rowspan="2">{{osp}}</td>
        <td style="width: 99.8828px; height: 27px">{{osv}}</td>
      </tr>
      <tr style="height: 27px">
        <td style="width: 99.8828px; height: 27px">{{osva}}</td>
      </tr>
    </tbody>
  </table>
  <p>&nbsp;</p>
  <p>
    <span style="font-weight: 400"
      >Distance&nbsp; Pupillary Distance :&nbsp; &nbsp; OD&nbsp; {{odpd}}&nbsp;
      mm&nbsp; &nbsp; &nbsp; OS&nbsp; {{ospd}}&nbsp; mm &nbsp; &nbsp; &nbsp;
    </span>
  </p>
  <p>
    <span style="font-weight: 400"
      >Near Pupillary distance :&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp;OD&nbsp; &nbsp;{{odnp}}&nbsp; mm&nbsp; &nbsp; &nbsp;OS&nbsp;
      {{osnp}}&nbsp; mm</span
    >
  </p>
  <p>
    <span style="font-weight: 400"
      >Segment Height :&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp;OD&nbsp; &nbsp;{{odsh}}&nbsp; mm&nbsp; &nbsp;
      &nbsp;OS&nbsp; {{ossh}}&nbsp; mm &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    </span>
  </p>
  <p>
    <span style="font-weight: 400"
      >Fitting Height :&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;OD&nbsp; &nbsp;{{odfh}}&nbsp; mm&nbsp;
      &nbsp; &nbsp;OS&nbsp; {{osfh}}&nbsp; mm</span
    >
  </p>
  <p><span style="font-weight: 400">INSTRUCTION:&nbsp; &nbsp;{{ins}}</span></p>
  <p><span style="font-weight: 400">COMMENTS :&nbsp; &nbsp;{{gpcom}}</span></p>
  <p>
    <span style="font-weight: 400"
      >Signature of the Optometrist :&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Date :&nbsp;
      {{date}}&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span
    >
  </p>
</div>
